.menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    padding: 0;
    background-color: rgb(18, 40, 102);
    margin: 0;
    width: 100%;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.menu li a{
    display: flex;
    text-align: center;
}
.menu li a:hover{
    background: rgb(67, 255, 161);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: rgb(0, 162, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* header */
header{
    width: 100%;
    height: 600px;
    background: #005AA7;  
    /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(56, 100%, 95%, 0.589), hsla(208, 100%, 33%, 0.562)), url(img/drogueria.jpg);  
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(56, 100%, 95%, 0.589), hsla(208, 100%, 33%, 0.562)), url(img/drogueria.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: contain;
background-attachment: fixed;
position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h1{
    color: rgb(7, 71, 97);
    text-decoration: underline;
    text-align: center;
    padding: 180px 20px 40px 20px;
        font-size: 30px;
    }
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* about us */
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 30%;
    height: 30%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #0fa59d;
    color:rgb(216, 216, 216);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 2px 6px 2px rgb(0, 0, 0);
    margin-right: 7px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/* clientes */
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    display:contents;
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-crad{
    width: 60%;
    color: white;
}
.cards .card > .contenido-texto-crad p{
    font-weight: 300;
    padding-top: 5px;
}
/* nuestro servicios */
.about-services{
    background: white;
    padding-bottom: 30px;
}
.servicio-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-individual{
    width: 28%;
    text-align: center;
}
.servicio-individual img{
    width: 90%;
}
.servicio-individual h3{
    margin: 10px 0;
}
.servicio-individual p{
    font-weight: 300;
    text-align: justify;
}
/* footer */
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: white;
    border-bottom: 3px solid #12ff9c;
    padding-bottom: 4px;
    margin-bottom: 1px;
}
.content-foo p{
    color: rgb(8, 210, 224);
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-individual{
        width: 100%;
        text-align: center;
    }
}