.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(img/drogueria.jpg);
    background-size: cover;
    background-position: center;
    }
    .wrap-texto{
        color: #fff;
        text-align: center;
        width: 50%;
    }
    body{
        font-family: Arial, Helvetica;
        background: #e8e8e8;
    }
    .menu{
        list-style: none;
        padding: 0;
        background: #092327;
        width:90%;
        max-width: 100px;
        margin: auto;
    }
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
    }
    .menu li a{
        display: inline-block;
        text-align: center;
    }
    .menu li a:hover{
        background: rgb(67, 255, 161);
    }