.menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    padding: 0;
    background-color: rgb(18, 40, 102);
    margin: 0;
    width: 100%;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.menu li a{
    display: flex;
    text-align: center;
}
.menu li a:hover{
    background: rgb(67, 255, 161);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: rgb(0, 221, 173);
    font-size: 30px;
    text-align: center;
    margin bottom: 60px;
}