*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(46, 63, 65, 0.795);
    font-family: 'Nerko One', cursive;
}
h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}
h2{
    text-align: center;
    color: rgb(248, 109, 45);
}
.linea{
    background: rgba(5, 5, 5, 0.589);
    height: 40px;
    width: 100%;
    display: block;
}
.promocion{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.promocion img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    border-radius: 3%;
    transition: transform 0.5s;
}
.promocion > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(22, 19, 19);
}
.promocion a:hover img{
    filter: blur(1px);
    transform: rotate(10deg) scale(1.3);
}
